@font-face {
    font-family: 'TrueTypewriterPolyglott';
    src: url('TruetypewriterPolyglott-mELa.ttf') format('truetype');
}


body {
    font-family: 'TrueTypewriterPolyglott', 'Courier New', Courier, monospace;
}

h1 {
    font-size: 6rem;
    font-weight: 10;
    color: #693c18;
    margin-top: 7rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #693c18;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: center;
}

svg {
    display: block;
    margin: 0 auto;
}

path {
    stroke: #574545;
    stroke-width: 12;
    stroke-linecap: round;
    animation: draw 6s ease-in-out forwards;
}

path.cross {
    stroke: #693c18;;
}

@keyframes draw-wind {
    from {
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

.wind {
    stroke: #94abef;
    stroke-width: 6;
    opacity: 1;
    filter: blur(1px);
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw-wind 2s ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: left;
}

@keyframes draw {
    from {
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

nav {
    font-family: "PT Mono", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 10;
    color: #693c18;
}

nav .logo {
    letter-spacing: 0.2rem;
    margin-left: 2rem;
}

nav .date {
    margin-left: auto;
    margin-right: 2rem;
    letter-spacing: 0.1rem;
}

p {
    font-family: "PT Mono", monospace;
    font-size: 1.2rem;
    color: #693c18;
    line-height: 1.5;
}

.image-container {
    position: relative;
    width: 100%;
    height: 3000px;
    overflow: visible;
}

.section-text {
    width: 50rem;
    margin: 5rem auto auto;
    padding: 2rem;
    z-index: 1;
}

.mountain {
    position: fixed;
    top: 40vh;
    left: 2vw;
    width: 96vw;
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}

.vertical-space {
    height: 65vh;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .section-text {
        width: 80%;
        margin-top: 0.1rem;

    }

    nav {
        height: 4rem;
        font-size: 0.9rem;
    }

    .image-container {
        width: 100%;
    }

    .mountain {
        width: 100%;
        margin-top: 7rem;
        margin-bottom: 10rem;
    }
}
